# (c) 2014-2017 Dell
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

rootpassword calvin 
timezone UTC
hostname redfish.oss.labs
gateway 100.82.39.129
nameserver 100.82.32.10
ntpserver 0.centos.pool.ntp.org

# CHANGEME: Change the IP and netmask below to the IP address and netmask for
# the Redfish Admin VM on the Public API network
# Iface     IP               NETMASK              MTU
ens3        100.82.39.164    255.255.255.192	1500
